.review {
  border-radius: 20px;
  /* background: #ffffff; */
  box-shadow: 5px 5px 10px #125e8140, -5px -5px 10px #125e8140;
  margin-top: 10%;
}

.review select,
textarea {
  border: 0px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: inset -5px -5px 10px #f5f5f5, inset 5px 5px 10px #125e8114;
}
